
html {
    height: 100%;
	background-color: #f3f3f6;
	font-size: 17px;
}
body {
	/* width: 780px !important; */    
	margin: 1% 5% 1px 5%;
    font-family: 'Open Sans', sans-serif;
	background-color: #fff;
    color: #3d3d3d;
}


.absolute {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
}
.hidden {
	display: none !important;
	visibility: hidden !important;
}

.main {
	position: relative;
	/* top: -7px;
	left: 0; */
    padding: 2% 5% 2% 5%;
    border-top: 5px solid #695da8;	
}

.main .logo {
    width: 5%;
    float: right;    
}


/* ***** BUTTONS GENERAL */

.btn,
button {
	transition: opacity 250ms ease-out;
	transition: transform 250ms ease-out;
	outline: none;
}

.btn {
	cursor: pointer;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;    
    color: #ffffff;        
    padding: 1% 4% 1% 4%;
    margin: 0 40% 0 40%;
    text-decoration: none;
}

.btn-retry {
	cursor: pointer;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;    
    color: #ffffff;        
    padding: 1% 4.7% 1% 4.7%;
    margin: 0 40% 0 40%;
    text-decoration: none;
}

.btn-reset {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;    
    color: #ffffff;    
    padding: 1% 2% 1% 2%;
    margin: 1% 0 0 80%;
    text-decoration: none;    
}

.btn_reveal {
	opacity: 1;
}

.btn.disabled {
	opacity: .3;
	cursor: not-allowed;
}

/* ***** ICONS */

.icons-container {
	/* margin: 40px 0; */
	max-width: 780px;
	margin: 0 0 2% 0;  
    display: block;
}

.icons-labels-container {
	max-width: 780px;
    display: block;
	position: relative;
	margin: 0 0 2% 0;
}

.icons-labels {	
	position: relative;	
	float: left;
	margin: 0 1%;
	width: calc(90% / 5);	
	box-sizing: content-box;	        
    font-size: 14px;
	text-align: center;
}

.circle-ico {
	position: relative;
	padding: 0;
	float: left;
	margin: 0 1%;
	width: calc(90% / 5);
	padding-top: calc(90% / 5);	
	box-sizing: content-box;
	border-radius: 100px;
	opacity: 0;
	z-index: +1;
}

.circle-ico .center {
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);		
	border: 5px solid #fff;
	border-radius: 100px;	
	background-size: 55% 55%;
	background-repeat: no-repeat;
	background-position: center;   
}

.circle-ghost-ico {
	position: absolute;	
	float: left;
	margin: 0 1.5%;
	width: calc(53% / 5);
	padding-top: calc(53% / 5);
	background-color: #f9f9f9;
	box-sizing: content-box;
	border-radius: 100px;
	display: inline-block;
	
}

.circle-ghost-ico .center {
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: #ebebeb;	
	border: 5px solid #fff;
	border-radius: 100px; 
	background-size: 55% 55%;
	background-repeat: no-repeat;
	background-position: center;   
}

.circle-ico img {
    position: absolute;
	top: 15px;
	left: 5px;
	width: calc(90% - 10px);
	height: calc(90% - 10px);
}

.circle-ico .label {    
    padding-top: 60%;
    color: #33bdbd;    
    font-size: 14px;
}

.circle-ico-answer {
    position: relative;
    padding: 0;
	float: left;
	margin: 0 3% 0 1%;
	width: calc(75% / 5);
	padding-top: calc(75% / 5);
	background-color: #fff;	
	border-radius: 100px;
    border-style: dashed;
    border-color: #d7d7d7;
    box-sizing: content-box;	
}

/* ***** ANSWERS */

.answer {
    float: left;
    margin-bottom: 3%;
}

.answers-container {
	/* margin: 40px 0; */
	max-width: 780px;
	margin: 5% 0 10% 0;  
    display: block;
}

.answer-description {    
    color: #7d7987;
    padding: 3%;
}

.title-1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 225%;	
    margin-top: 50px;
}

.question {
	font-size: 100%;
	color: #7d7987;
}

.instructions {
	font-size: 100%;	
}

.feedback {
	font-size: 100%;
	color: #7d7987;
	margin-bottom: 40px;
}

.img-hero {
	width: 100%;
	margin: 30px 0;
}


@media (min-width: 560px) {
	html {
		font-size: 21px;
	}
	.circle-ico {
		margin: 0 2%;
		width: calc(80% / 5);
		padding-top: calc(80% / 5);
	}
}

/* ***** GRADING */

.correct-effect {
	background-color:#99ebc6;		
}

.correct-effect .center{
	background-color:#47da97;		
}

.right-mark {
	border-radius: 100px;
	border-style: solid;	
	border-width: 8%;
	color: #47da97;
	background-color: white;
	margin-top: 40%;
	margin-left: 85%;
}

.wrong-effect {
	background-color: #ec4242;
}

.wrong-effect .center {
	background-color: #ec4242;
}

.wrong-mark {
	border-radius: 100px;
	border-style: solid;
	border-width: 8%;
	height: calc(80% / 3);
	width: calc(80% / 3);
	text-align: center;
	color: #ec4242;
	background-color: white;
	margin-top: 40%;
	margin-left: 85%;
}

